<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="q_order" frontName="q_order">
            <module name="ALevel_QuickOrder"/>
        </route>
    </router>
</config>
